<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="top-detail">
          <h3 class="title">Aplikasi RT <span style="color:#e0820e">Lorem IPSUM</span></h3>
          <p class="description">
            Yang digunakan untuk menginput data warga secara modern dan tambahkan data warga sesuai data yang ada di lapangan.
            <br>
            
          </p>
          <a href="/content" class="index-button">Lihat daftar</a>
        </div>
      </div>
      <div class="col-6 top-image">
        <img src="/images/icon_utamaa.svg" />
      </div>
    </div>
  </div>
  </body>
</html>



